#ifndef SECRETS_H
#define SECRETS_H

// --- WIFI CREDENTIALS ---
#define SECRET_SSID "NAMA_WIFI_KAMU"
#define SECRET_PASS "PASSWORD_WIFI_KAMU"

// --- HIVEMQ CLOUD CREDENTIALS ---
// URL tanpa awalan 'ssl://' atau 'wss://'
#define SECRET_MQTT_SERVER "your_endpoint.s1.eu.hivemq.cloud"
#define SECRET_MQTT_USER "your_username"
#define SECRET_MQTT_PASS "your_password"
#define SECRET_MQTT_PORT 8883

#endif